# Django settings
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,158.160.86.6

# Database
POSTGRES_DB=habit_db
POSTGRES_USER=habit_user
POSTGRES_PASSWORD=strong_password_here
DB_HOST=localhost
DB_PORT=5432

# Redis & Celery
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://158.160.86.6

CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,http://158.160.86.6