# .gitignore
venv/
*.pyc
__pycache__/
*.sqlite3
.env
*.log
htmlcov/
.coverage
.coverage.*
.DS_Store
*.db
*.pid
*.pot
*.py[co]
*.so
*.egg-info/
*.manifest
*.spec
*.cache
.pytest_cache/
.tox/
.vscode/
.idea/
*.swp
*.swo
*~
celerybeat-schedule
celerybeat.pid
dump.rdb
migrations/