# Virtual environment
venv/
env/
ENV/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.py[co]
*.egg-info/
dist/
build/

# Database
*.sqlite3
*.db

# Environment
.env
.env.local
.env.example  # но сам .env.example мы закоммитим отдельно

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log

# Coverage
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.tox/

# Django
staticfiles/
media/
*.pot
*.pid
celerybeat-schedule
celerybeat.pid
dump.rdb